*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.lol
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
/figures-compiled
main.synctex
main.auxlock
main.run.xml
main.thm
thesis.tps